body {
    text-align: center;
    margin: auto;
    display: flex;
    width: 100%;
    background-color: #EAEBEC;
    height: 100%;
}

/* Remove rectangle when focusing on a button */

body:not(.user-is-tabbing) button:focus, body:not(.user-is-tabbing) input:focus, body:not(.user-is-tabbing) select:focus, body:not(.user-is-tabbing) textarea:focus {
    outline: none;
}

.center {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
}

#calculator {
    background-color: rgba(92, 121, 151, 0.726);
    grid-column: 2 / 3;
    margin-top: 40px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    max-width: 400px;
    min-width: 200px;
    max-height: 600px;
    min-height: 350px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid rgb(78, 102, 128);
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 8px 50px -5px black;
}

header {
    width: 95%;
    height: 75%;
}

#calculator header input {
    width: 99%;
    height: 90%;
    border-style: solid;
    border-radius: 4% / 25%;
    border-width: 2px;
    border-color: rgb(233, 233, 233);
    font-size: 30px;
    text-align: right;
    margin-bottom: 15px;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 20% / 30%;
    margin: 10px 8px;
    width: 90%;
    height: 90%;
    border-color: rgb(209, 209, 209);
}

#del {
    grid-column: 3/5;
    width: 90%;
    border-radius: 10% / 30%;
}

#clearButton {
    grid-column: 1/2;
}

#calculator header {
    grid-column: 1 / 5;
}

#plus {
    grid-column: 4/5;
    grid-row: 6/8;
    height: 95%;
    border-radius: 25% / 20%;
}
